body {
    font-family: 'Orelega One', cursive;
}

h1 {
    background-color: #1688DF;
    margin: auto;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
    width: 700px;
}

img {
    width: 150px;
    position: relative;
    float: right;
    right: 340px;
    bottom: 60px;
}

div {
    width: 700px;
    margin: auto;
}

div h2 {
    text-align: left;
    padding-top: 25px;
    margin-bottom: 0px;
}

div ul {
    font-size: 20px;
}

footer {
    background-color: #1688DF;
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 700px;
    border-radius: 25px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: red;
    text-decoration: underline;
}