    @media (min-width: 480px) and (max-width: 650px) {
        header h1 {
            max-width: 300px;
            margin: auto;
        }
        header img {
            width: 64px;
        }
        .sitemotto {
            left: 30px;
        }
        .navigation li {
            display: none;
        }
        .navigation li:first-child {
            display: block;
        }
        .responsive li {
            display: block;
        }
        .icon {
            width: 40px
        }
        .preston {
            max-height: 400px;
        }
        .summary {
            bottom: 170px;
        }
        .gallery img {
            max-width: 240px;
        }
        .gal-1 {
            grid-row: 1;
            grid-column: 1;
        }
        .gal-2 {
            grid-row: 1;
            grid-column: 2;
        }
        .gal-3 {
            grid-row: 2;
            grid-column: 1;
        }
        .gal-4 {
            grid-row: 2;
            grid-column: 2;
        }
        .gal-5 {
            grid-row: 3;
            grid-column: 1;
        }
        .gal-6 {
            grid-row: 3;
            grid-column: 2;
        }
        .gal-7 {
            grid-row: 4;
            grid-column: 1;
        }
        .gal-8 {
            grid-row: 4;
            grid-column: 2;
        }
        .gal-9 {
            grid-row: 5;
        }
        .gallery h3 {
            display: none;
        }
        .galpic {
            margin: auto;
            margin-top: 10px;
            margin-bottom: 5px;
            background-color: none;
        }
    }