body {
    background-color: #57AFC1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.intro {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    background-color: #ABC1C5;
    max-width: 700px;
    margin: auto;
    padding-top: 1px;
    border-radius: 25px;
}

.intro img {
    width: 30px;
}

nav {
    margin: auto;
    max-width: 700px;
    background-color: #ABC1C5;
    font-size: 22px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 20px;
}

nav ul {
    padding-left: 0%;
}

nav ul a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
}

nav ul li {
    display: inline;
}

.content {
    background-color: #ABC1C5;
    margin: auto;
    max-width: 700px;
    border-radius: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px
}

.content h2 {
    margin-left: 30px;
    color: #0B0A0A
}

.content p {
    margin-left: 15px;
    color: #1D1C1C;
}

.target {
    background-color: #ABC1C5;
    max-width: 700px;
    border-radius: 25px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.target p {
    margin-left: 15px;
}

.target h2 {
    margin-left: 20px;
}

footer {
    background-color: #ABC1C5;
    margin: auto;
    text-align: center;
    padding: 5px;
    max-width: 700px;
    border-radius: 25px;
}

.color1 {
    background-color: black;
    color: #57AFC1;
    width: 100px;
    text-align: center;
}

.color2 {
    background-color: black;
    color: #ABC1C5;
    width: 100px;
    text-align: center;
}

.color3 {
    background-color: white;
    color: #000000;
    width: 100px;
    text-align: center;
}

.font {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
    background-color: gray;
}

@media only screen and (min-width: 37.5em) {
    nav ul {
        display: flex;
    }
    nav ul li {
        flex: 1 1 100%;
        padding: 15px;
    }
    nav li:hover {
        text-decoration: underline;
        background-color: gray;
    }
    .intro {
        font-size: 30px;
    }
    .intro img {
        width: auto;
    }
}