            @media (min-width: 480px) and (max-width: 650px) {
                header h1 {
                    max-width: 300px;
                    margin: auto;
                }
                header img {
                    width: 64px;
                }
                .sitemotto {
                    left: 30px;
                }
                .navigation li {
                    display: none;
                }
                .navigation li:first-child {
                    display: block;
                }
                .responsive li {
                    display: block;
                }
                .icon {
                    width: 40px
                }
                .preston {
                    max-height: 400px;
                }
                .summary {
                    bottom: 170px;
                }
                .gallery img {
                    max-width: 240px;
                }
                .gal-1 {
                    grid-row: 1;
                    grid-column: 1;
                }
                .gal-2 {
                    grid-row: 1;
                    grid-column: 2;
                }
                .gal-3 {
                    grid-row: 2;
                    grid-column: 1;
                }
                .gal-4 {
                    grid-row: 2;
                    grid-column: 2;
                }
                .gal-5 {
                    grid-row: 3;
                    grid-column: 1;
                }
                .gal-6 {
                    grid-row: 3;
                    grid-column: 2;
                }
                .gal-7 {
                    grid-row: 4;
                    grid-column: 1;
                }
                .gal-8 {
                    grid-row: 4;
                    grid-column: 2;
                }
                .gal-9 {
                    grid-row: 5;
                }
                .gallery h3 {
                    display: none;
                }
                .galpic {
                    margin: auto;
                    margin-top: 10px;
                    margin-bottom: 5px;
                }
                .description,
                input,
                textarea,
                select {
                    margin-left: 150px;
                }
                .storm-info img,
                .personal img {
                    display: none;
                }
                /* town page */
                .towns {
                    display: grid;
                    margin-bottom: 20px;
                }
                .towns img {
                    height: 166px;
                }
                .preston-home {
                    background-color: slategray;
                    grid-column: 1;
                    grid-row: 1;
                    margin-left: auto;
                    margin-right: auto;
                    box-shadow: 5px 5px 5px black;
                    width: 90%;
                    display: grid;
                    margin-bottom: 20px;
                }
                .soda-springs-home {
                    background-color: slategray;
                    width: 90%;
                    grid-column: 1;
                    grid-row: 3;
                    margin-left: auto;
                    margin-right: auto;
                    box-shadow: 5px 5px 5px black;
                    display: grid;
                    margin-bottom: 20px;
                }
                .fish-haven-home {
                    background-color: slategray;
                    grid-column: 1;
                    grid-row: 2;
                    margin-left: auto;
                    margin-right: auto;
                    box-shadow: 5px 5px 5px black;
                    display: grid;
                    width: 90%;
                    margin-bottom: 20px;
                }
                .fish-haven-home h2,
                .fish-haven-home p,
                .fish-haven-home h3 {
                    grid-column: 2;
                    margin: 0px;
                    padding: 0px;
                    width: 250px;
                    font-size: 14px;
                }
                .preston-home img,
                .soda-springs-home img {
                    grid-row-start: 2;
                    grid-row-end: 5;
                    grid-column: 2;
                    width: 90%;
                    margin: auto;
                }
                .preston-home h2,
                .preston-home h3,
                .preston-home p {
                    grid-column: 1;
                    margin: 0px;
                    font-size: 14px;
                }
                .soda-springs-home h2,
                .soda-springs-home h3,
                .soda-springs-home p {
                    grid-column: 1;
                    margin: 0px;
                    font-size: 14px;
                    max-width: 200px;
                    margin: auto;
                }
                .fish-haven-home img {
                    grid-row-start: 2;
                    grid-row-end: 5;
                    grid-column: 1;
                    width: 90%;
                    margin: auto;
                }
                .outdoor {
                    background-color: slategray;
                    box-shadow: 5px 5px 5px black;
                }
                .attractions p,
                .attractions ul,
                .campgrounds p,
                .campgrounds ul {
                    margin-left: 100px;
                    text-align: justify;
                }
                .outdoor img {
                    width: 90%;
                }
            }