@media (min-width: 480px) and (max-width: 799px) {
    body {
        max-width: 600px;
        font-size: 13px;
    }
    .local {
        display: grid;
        margin: 10px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        grid-template-columns: 50%;
    }
    .local img {
        width: 150px;
    }
    .com-info {
        grid-column: 1;
        grid-row: 3;
        height: 100px;
        margin: 10px;
    }
    .advr3 {
        display: grid;
        grid-row: 2;
        grid-column: 1/ span 2;
        border: 2px black solid;
        background-color: gray;
        text-align: center;
        border-radius: 20px;
    }
    .advr3 p {
        height: 50px;
    }
    article img {
        margin: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 3px black;
        width: 200px;
    }
    header h1 {
        grid-column: 2;
        margin-top: 50px;
        font-size: 20px;
        text-align: left;
    }
    .info {
        display: grid;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin: 10px;
        grid-template-columns: 50%;
    }
    .nav li:first-child {
        display: none;
    }
    .demog img {
        width: 500px;
    }
    .board ul {
        list-style-type: none;
        margin-left: 20px;
        text-align: justify;
        padding: 0px;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
    .commerce {
        display: grid;
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        margin-top: 20px;
    }
    .col-one {
        grid-column: 1;
    }
    .col-two {
        grid-column: 2;
        grid-row: 1/span 2;
        margin-bottom: 15px;
    }
    .col-three {
        grid-row: 2;
        grid-column: 1;
        margin-bottom: 10px;
    }
    .board {
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        grid-column: 2;
        text-align: center;
    }
    .contact-us {
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        grid-column: 1;
        text-align: justify;
    }
    .contact-us p,
    .contact-us h3 {
        margin-left: 50px;
    }
    .direct:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .direct:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }
    .direct:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }
    .direct:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    .direct:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    }
    .direct:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
    }
    .direct:nth-child(7) {
        grid-column: 1;
        grid-row: 4;
    }
    .direct {
        background-color: gray;
        margin: auto;
        box-shadow: 3px 3px 3px black;
        border-radius: 20px;
        width: 280px;
        height: 400px;
    }
    .contain {
        grid-row-gap: 20px;
    }
    .view {
        margin-bottom: 10px;
    }
    .f1,
    .f2 {
        display: grid;
        grid-template-columns: 50%;
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        margin-top: 20px;
    }
    .personal {
        text-align: left;
        grid-column: 2;
        grid-row: 1;
    }
    .company-label {
        text-align: right;
        grid-column: 1;
        grid-row: 1;
    }
    .company {
        text-align: left;
        grid-column: 2;
        grid-row: 1;
    }
    .f3 {
        display: grid;
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        margin-top: 20px;
    }
    .tiers {
        grid-column: 1/ span 2;
        grid-row: 1;
        text-align: justify;
        margin: auto;
        margin-top: 10px;
        background-color: #F7FFF7;
        border-radius: 20px;
        border: 1px solid black;
    }
    .submit button {
        width: 200px;
        background-color: crimson;
        color: #F7FFF7;
        border-radius: 20px;
        font-size: 25px;
        margin-top: 45px;
        margin-right: 110px;
    }
}