@media (max-width: 479px) {
    body {
        max-width: 300px;
        padding: 0px;
        margin: auto;
        font-size: 13px;
    }
    .local {
        display: inline;
        padding-top: 10px;
        margin: 10px;
    }
    .info {
        display: inline;
    }
    header img {
        width: 100px;
    }
    header h1 {
        font-size: 15px;
        margin-top: 30px;
        margin-right: 10px;
        word-wrap: break-word;
    }
    header {
        grid-template-columns: 100px 200px;
        max-height: 100px;
    }
    article img {
        width: 150px;
    }
    .local img {
        display: none;
    }
    .advr3 {
        display: grid;
        grid-row: 2;
        grid-column: 1/ span 2;
        border: 2px black solid;
        background-color: gray;
        text-align: center;
        border-radius: 20px;
    }
    .hero {
        margin-bottom: 10px;
    }
    .social {
        display: none;
    }
    footer {
        font-size: 13px;
    }
    .contact {
        width: 250px;
    }
    .nav li {
        display: none;
    }
    .nav li:first-child {
        display: block;
    }
    .nav ul {
        margin: 0px;
        padding: 0px;
    }
    .responsive li {
        display: block;
    }
    .show-nav {
        width: 32px;
    }
    .advr1,
    .advr2,
    .advr3,
    .events,
    .weather {
        margin: 10px;
    }
    .historical img,
    .demog img {
        width: 200px;
    }
    iframe {
        width: 200px;
        height: 150px;
    }
    .cham-contact {
        display: block;
    }
    .commerce {
        display: grid;
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        margin-top: 20px;
    }
    .col-one {
        grid-column: 1;
    }
    .col-two {
        grid-column: 1;
        grid-row: 2;
        margin-bottom: 15px;
    }
    .col-three {
        grid-row: 3;
        grid-column: 1;
        margin-bottom: 10px;
    }
    .contact-us {
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        grid-column: 1;
        text-align: justify;
    }
    .board {
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        grid-column: 1;
        text-align: center;
    }
    .board ul {
        list-style-type: none;
        padding: 0px;
    }
    .contact-us p,
    .contact-us h3 {
        text-align: left;
        margin-left: 10px;
        word-wrap: break-word;
    }
    .view {
        display: none;
    }
    .direct:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
    }
    .direct:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }
    .direct:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }
    .direct:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
    }
    .direct:nth-child(5) {
        grid-column: 1;
        grid-row: 5;
    }
    .direct:nth-child(6) {
        grid-column: 1;
        grid-row: 6;
    }
    .direct:nth-child(7) {
        grid-column: 1;
        grid-row: 7;
    }
    .direct {
        background-color: gray;
        margin: 10px;
        box-shadow: 3px 3px 3px black;
        border-radius: 20px;
        width: 280px;
    }
    .personal-label,
    .company-label {
        display: none;
    }
    .f1,
    .f2 {
        text-align: center;
        grid-template-columns: 50%;
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        margin-top: 20px;
    }
    .f3 {
        display: grid;
        background-color: gray;
        border-radius: 20px;
        border: 2px black solid;
        margin: 10px;
        margin-top: 20px;
    }
    .submit {
        grid-column: 1;
        grid-row: 3;
    }
    .submit button {
        width: 200px;
        background-color: crimson;
        color: #F7FFF7;
        border-radius: 20px;
        font-size: 25px;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .tiers {
        grid-column: 1/ span 2;
        grid-row: 1;
        text-align: justify;
        margin: 10px;
        margin-top: 10px;
        background-color: #F7FFF7;
        border-radius: 20px;
        border: 1px solid black;
    }
}