footer,
header {
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 800px) {
    section {
        background-color: rgb(154, 154, 207);
        width: 24%;
        float: left;
        text-align: center;
        margin: 4px;
        border: 1px solid black;
        font-size: 17px;
        height: 450px;
    }
    section h2 {
        color: darkblue;
    }
    section p {
        font-size: 17px;
    }
    section img {
        max-width: 90%;
        max-height: 250px;
    }
    footer {
        clear: both;
    }
}

@media (min-width: 400px) and (max-width: 799px) {
    section {
        background-color: rgb(154, 154, 207);
        width: 31%;
        float: left;
        text-align: center;
        margin: 4px;
        border: 1px solid black;
        height: 350px;
        font-size: 14px;
    }
    section img {
        max-width: 90%;
        max-height: 190px;
    }
    footer {
        clear: both;
    }
    section p {
        font-size: 13px;
        height: 20px;
    }
    section h2 {
        color: darkblue;
        height: 35px;
    }
}

@media (max-width: 399px) {
    section {
        background-color: rgb(154, 154, 207);
        width: 100%;
        text-align: center;
        margin: 4px;
        border: 1px solid black;
    }
    section img {
        max-width: 90%;
    }
    section h2 {
        color: darkblue;
    }
}